<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upcoming Browser Based Mitigations</title>

  </head>
    <body>
      <h1>Upcoming Browser Based Mitigations</h1>
      <hr/>
      <div id="content">
        <ul>
          <li><a href="/tt">Trusted Types</a></li>
          <li><a href="/sanitizer">Sanitizer API</a></li>
      </div>
    </body>
</html>

